<%= twitter_bootstrap_form_for @network, :html => { :class => "form-horizontal" } do |f| %>
  <% if @network.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@network.errors.count, "error") %> prohibited this network from being saved:</h2>

      <ul>
      <% @network.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>
  <%= f.text_field :latitude %>
  <%= f.text_field :longitude %>
  <%= f.text_field :slug %>
  <%= f.submit :class => "btn btn-primary" %>
<% end %>
