<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Attending</th>
    <th>Female Ratio</th>
    <th>Start</th>
    <th>End</th>
  </tr>
  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.name, event %></td>
      <td><%= event.attending %></td>
      <td>
        <div class="progress">
          <div class="bar" style="width: <%= event.percentage_female %>%;"></div>
        </div>
      </td>
      <td><%= event.start_time.strftime('%d-%m-%Y %H:%M') unless event.start_time.nil? %></td>
      <td><%= event.end_time.strftime('%d-%m-%Y %H:%M') unless event.end_time.nil? %></td>
    </tr>
  <% end %>
</table>