<div class="dateSelector clearfix">
    <div class="pull-left btn-group">
        <a class="btn" href="<%= network_date_path(@network, (@date-1.day).strftime('%Y'),(@date-1.day).strftime('%m'),(@date-1.day).strftime('%d')) %>"><i class="icon-chevron-left"></i></a>
        <a class="btn" href="<%= network_date_path(@network, (@date+1.day).strftime('%Y'),(@date+1.day).strftime('%m'),(@date+1.day).strftime('%d')) %>"><i class="icon-chevron-right"></i></a>
    </div>
    <p class="pull-left timestamp"><%= @date.strftime('%A, %d. %B') %></p>
    <p class="pull-right"><%= @events.count %> Events</p>
</div>

<div class="accordion">
<% @events.each do |event| %>
  <div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle clearfix" data-toggle="collapse" href="#<%= event.id %>">
            <span class="pull-left">
              <b><%= event.start_time.strftime('%I:%M %p') unless event.start_time.nil? %></b> <%= event.name unless event.name.nil? %>
              <i><%= "by "+event.group.name unless event.group.nil? %></i>
            </span>
            <span class="pull-right time-difference">
              in <%= distance_of_time_in_words_to_now(event.start_time) unless event.start_time.nil? %>
            </span>
        </a>
    </div>
    <div id="<%= event.id %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>
          <b>
            <%= event.start_time.strftime('%I:%M %p') unless event.start_time.nil? %>
            <%= " - "+event.end_time.strftime('%I:%M %p') unless event.end_time.nil? %>
            <%= ", "+event.facebook_event.location unless event.facebook_event.location.nil? %>
          </b>
        </p>
        <p><%= event.description unless event.description.nil? %></p>
        <div class="clearfix">
          <%= link_to "more", "http://facebook.com/"+event.facebook_event.facebook_id.to_s, :target => "_blank", :class => "btn btn-more btn-primary btn-small pull-left" %>
          <% unless event.facebook_event.attending_female.nil? and event.facebook_event.attending_male.nil? %>
            <p class="pull-left"><%= event.facebook_event.attending_female %> girls and <%= event.facebook_event.attending_male %> guys are coming</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= paginate @events %>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var mapOptions = {
      center: new google.maps.LatLng(<%= @network.latitude %>, <%= @network.longitude %>),
      zoom: 17,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    <% @events.each do |event| %>
      <% if not event.facebook_event.venue.nil? and event.facebook_event.venue.has_key?("location") %>
        var latLon = new google.maps.LatLng(<%= event.facebook_event.venue["location"]["latitude"] %>,<%= event.facebook_event.venue["location"]["longitude"] %>);
        var marker = new google.maps.Marker({
          position: latLon
        });
        marker.setMap(map);
      <% end %>
    <% end %>
  });
</script>