<div class="dateSelector clearfix">
    <p class="pull-left timestamp"><%= @date.strftime('%A, %d. %B') %></p>
    <div class="pull-left btn-group">
        <a class="btn" href="<%= network_date_path(@network, (@date-1.day).strftime('%Y'),(@date-1.day).strftime('%m'),(@date-1.day).strftime('%d')) %>"><i class="icon-chevron-left"></i></a>
        <a class="btn" href="<%= network_date_path(@network, (@date+1.day).strftime('%Y'),(@date+1.day).strftime('%m'),(@date+1.day).strftime('%d')) %>"><i class="icon-chevron-right"></i></a>
    </div>
</div>

<div class="accordion" id="accordion">
<% @events.each do |event| %>
  <div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle clearfix" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <span class="pull-left"><%= event.name %></span><span class="pull-right">In <%= distance_of_time_in_words_to_now(event.start_time) %></span>
        </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= event.facebook_event.description unless event.facebook_event.nil? %>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= paginate @events %>