<div class="dateSelector clearfix">
    <p class="pull-left timestamp"><%= @date.strftime('%A, %d. %B') %></p>
    <div class="pull-left btn-group">
        <a class="btn" href="<%= network_date_path(@network, (@date-1.day).strftime('%Y'),(@date-1.day).strftime('%m'),(@date-1.day).strftime('%d')) %>"><i class="icon-chevron-left"></i></a>
        <a class="btn" href="<%= network_date_path(@network, (@date+1.day).strftime('%Y'),(@date+1.day).strftime('%m'),(@date+1.day).strftime('%d')) %>"><i class="icon-chevron-right"></i></a>
    </div>
</div>

<div class="accordion">
<% @events.each do |event| %>
  <div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle clearfix" data-toggle="collapse" href="#<%= event.id %>">
            <span class="pull-left"><%= event.name unless event.nil? %></span><span class="pull-right">In <%= distance_of_time_in_words_to_now(event.start_time) unless event.start_time.nil? %></span>
        </a>
    </div>
    <div id="<%= event.id %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= paginate @events %>