<%= form_for @group, :html => { :class => "form form-horizontal" } do |f| %>
  <div class="control-group">
    <%= f.fields_for :facebook_page do |p| %>        
      <%= p.label :facebook_id, "Facebook ID" %>
      <%= p.text_field :facebook_id %>
    <% end %>
  </div>
  <div class="form-actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>