<%= twitter_bootstrap_form_for @group, :html => { :class => "horizontal-form" } do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :facebook_group %>
  <%= f.text_field :facebook_page %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
