<p id="notice"><%= notice %></p>

<p><b>Name:</b> <%= @group.name %></p>
<p><b>Facebook Events:</b> <%= @group.facebook_events.size %></p>
<ul>
<% @group.facebook_events.each do |event| %>
	<li><%= event.name %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_group_path(@group), :class => "btn" %>
<%= link_to 'Back', groups_path, :class => "btn" %>
