<div class="toolbar clearfix">
	<p class="pull-right"><%= @events.count %> events</p>
</div>
<% unless @events.nil? && @places.nil? %>
	<table class="table table-striped">
	  <tr>
	    <th>Name</th>
	    <th>Start</th>
	    <th>End</th>
	  </tr>
	  <% @events.each do |event| %>
	  <tr>
	    <td><%= link_to event.name, event %></td>
	    <td><%= event.start_time %></td>
	    <td><%= event.end_time %></td>
	  </tr>
	  <% end %>
	</table>
<% end %>

<%= paginate @events %>