<% unless @likes.nil? && @places.nil? %>
	<div class="tabbable">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#tab1" data-toggle="tab">Places</a></li>
			<li><a href="#tab2" data-toggle="tab">Likes</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab1">
				<%= twitter_bootstrap_form_for @place, :url => { :action => "search", :controller => "places" }, :html => { :class => "well form-search" } do |f| %>
					<%= search_field(:place, :name) %>
					<%= f.submit "Search", :class => "btn btn-primary" %>
				<% end %>
				<table class="table table-striped">
				  <tr>
				    <th colspan="2">Name</th>
				  </tr>
				  <% @places.each do |place| %>
				  <tr>
				    <td><%= link_to place.name, place_path(place) %></td>
				    <% if place.isFollowedBy(current_user) %>
				    <td><%= link_to 'Unfollow', unfollow_place_path(place), :class => 'btn btn-mini' %></td>
				    <% else %>
				    <td><%= link_to 'Follow', follow_place_path(place), :class => 'btn btn-mini' %></td>
				    <% end %>
				  </tr>
				  <% end %>
				</table>
				<%= paginate @places %>
			</div>
			<div class="tab-pane" id="tab2">
				<table class="table table-striped">
				  <tr>
				    <th>Name</th>
				    <th>Category</th>
				  </tr>
				  <% @likes.each do |like| %>
				  <tr>
				    <td><%= like.name %></td>
				    <% unless like.facebook_category.nil? %>
				    	<td><%= like.facebook_category.name %></td>
				    <% else %>
				    	<td><%= like.facebook_category %></td>
				    <% end %>
				  </tr>
				  <% end %>
				</table>
				<%= paginate @likes %>
			</div>
		</div>
	</div>
<% end %>
