<%= twitter_bootstrap_form_for @place, :url => { :action => "search", :controller => "places" }, :html => { :class => "well form-search" } do |f| %>
  <%= search_field(:place, :name) %>
  <%= f.submit "Search", :class => "btn btn-primary" %>
<% end %>
<table class="table table-striped">
  <tr>
    <th colspan="2">Name</th>
  </tr>
  <% @places.each do |place| %>
  <tr>
    <td><%= link_to place.name, place_path(place) %></td>
    <% if place.isFollowedBy(current_user) %>
    <td><%= link_to 'Unfollow', unfollow_place_path(place), :class => 'btn btn-mini' %></td>
    <% else %>
    <td><%= link_to 'Follow', follow_place_path(place), :class => 'btn btn-mini' %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<%= paginate @places %>