<%= twitter_bootstrap_form_for @places, :url => { :action => "search", :controller => "places" }, :html => { :class => "form-search" } do |f| %>
	<%= search_field(:place, :name) %>
	<%= f.submit "Search" %>
<% end %>

<p id="notice"><%= notice %></p>

<% if @places.kind_of? Array %>
<ul>
<% @places.each do |place| %>
	<li><%= link_to place.name, place.slug %></li>
<% end %>
</ul>
<% end %>

<ul>
<% @featured_places.each do |place| %>
	<li><%= link_to place.name, place.slug %></li>
<% end %>
</ul>