<div class="span9">
	<h1><%= @place.name %></h1>
	<table class="table table-striped">
	  <tr>
	    <th>Author</th>
	    <th>Message</th>
	    <th>Action</th>
	  </tr>
	<% @news_items.each do |news_item| %>
	  <tr>
	  	<td>@<%= news_item.author %></td>
	    <td><%= news_item.content %></td>
	    <td><%= link_to "License", news_item, :class => 'btn btn-mini' %></td>
	  </tr>
	<% end %>
	</table>
	<ul class="thumbnails grid">
		<% @place.photos.each do |p| %>
		<li class="span2">
			<a href="#" class="thumbnail"><img src="<%= p.thumbnail %>" /></a>	
			<div class="thumbnail">
				<div align="center"><%= link_to "License", :class => 'btn btn-mini' %></div>
			</div>
	  	</li>
		<% end %>
	</ul>
</div>
<div class="span3">
  <div class="well sidebar-nav">
	<address>
		<p><%= @place.address %></p>
		<p><%= @place.city %></p>
		<p><%= @place.country %></p>
		<p><%= @place.twitter %></p>
		<p><%= @place.featured %></p>
	</address>
  </div><!--/.well -->
</div><!--/span-->