<div class="span9">
	<h1><%= @place.name %></h1>
	<table class="table table-striped">
	  <tr>
	    <th>Author</th>
	    <th>Message</th>
	    <th>Action</th>
	  </tr>
	<% @news_items.each do |news_item| %>
	  <tr>
	  	<td>@<%= news_item.author %></td>
	    <td><%= news_item.content %></td>
	    <td><%= link_to "License", news_item, :class => 'btn btn-mini' %></td>
	  </tr>
	<% end %>
	</table>
	<ul class="thumbnails grid">
		<% @place.photos.each do |p| %>
		<li class="span2">
			<a href="#" class="thumbnail"><img src="<%= p.thumbnail %>" /></a>
	  	</li>
		<% end %>
	</ul>
</div>
<div class="span3">
  <div class="well map">
 	<div id="map_canvas" style="width:100%; height:100%"></div>
  </div><!--/.well -->
  <div class="well">
	<address>
		<p><%= @place.address %></p>
		<p><%= @place.city %></p>
		<p><%= @place.country %></p>
		<p><%= @place.twitter %></p>
	</address>
  </div><!--/.well -->
  <div class="well blog_articles">
  	<h2>Live Blogs</h2>
	<% @articles.each do |article| %>
		<%= link_to article.name, article %>
	<% end %>
  </div><!--/.well -->
</div><!--/span-->