<div class="span9">
	<h1><%= @place.name %></h1>
	<table class="table table-striped">
	  <tr>
	    <th>Author</th>
	    <th>Message</th>
	    <th>Action</th>
	  </tr>
	<% @news_items.each do |news_item| %>
	  <tr>
	  	<td>@<%= news_item.author %></td>
	    <td><%= news_item.content %></td>
	    <td><%= link_to "License", news_item, :class => 'btn btn-mini' %></td>
	  </tr>
	<% end %>
	</table>
	<ul class="thumbnails grid">
		<% @place.photos.each do |p| %>
		<li class="span2">
			<div class="thumbnail">
				<img src="<%= p.thumbnail %>" />
				<div class="caption">
					<%= link_to "License", p.thumbnail, :class => 'btn btn-mini' %>
	            </div>
			</div>
	  	</li>
		<% end %>
	</ul>
</div>
<div class="span3">
  <div class="well map">
 	<div id="map_canvas" style="width:100%; height:100%"></div>
  </div><!--/.well -->
  <div class="well">
	<address class="center">
		<p><%= @place.address %></p>
		<p><%= @place.city %></p>
		<p><%= @place.country %></p>
	</address>
  </div><!--/.well -->
  <div class="well blog_articles">
  	<h2>Live Blogs</h2>
	<% @articles.each do |article| %>
		<p><%= article.author %></p>
		<p class="word_wrap"><%= link_to article.url, article.name %></p>
		<p><%= link_to "License", article, :class => 'btn btn-mini' %></p>
	<% end %>
  </div><!--/.well -->
</div><!--/span-->