<h1><%= @place.name %></h1>
<address>
	<p><%= @place.address %></p>
	<p><%= @place.city %></p>
	<p><%= @place.country %></p>
</address>
<ul class="grid">
	<% @place.photos.each do |photo| %>
		<li><img src="<%= photo.thumbnail %>" /></li>
	<% end %>
</ul>