<div class="span9">
	<h1><%= @place.name %></h1>
	<ul class="tweets">
		<% @tweets.each do |tweet| %>
			<li><%= tweet.text %></li>
		<% end %>
	</ul>
	<ul class="thumbnails grid">
		<% @place.photos.each do |p| %>
		<li class="span2">
			<a href="#" class="thumbnail"><img src="<%= p.thumbnail %>" /></a>
	  	</li>
		<% end %>
	</ul>
</div>
<div class="span3">
  <div class="well sidebar-nav">
	<address>
		<p><%= @place.address %></p>
		<p><%= @place.city %></p>
		<p><%= @place.country %></p>
		<p><%= @place.twitter %></p>
		<p><%= @place.featured %></p>
	</address>
  </div><!--/.well -->
</div><!--/span-->