<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "near" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29645841-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand pull-left" href="<%= root_url %>">near</a>
          <div class="network navbar-text pull-left">
            <% if @network %>
              <%= link_to @network.name, @network %>
            <% end %>
          </div>
          <div class="navbar-text pull-left hide">
            <%= request.ip unless request.ip.nil? %>
            <%= request.location.city unless request.location.nil? %>
            <%= request.location.country unless request.location.nil? %>
          </div>
          <ul class="nav pull-right">
            <% unless user_signed_in? %>
            <li><%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook) %></li>
            <% else %>
            <li class="dropdown" id="userMenu">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#userMenu">
                <%= image_tag("https://graph.facebook.com/"+current_user.uid+"/picture", :size => "20x20", :alt => current_user.name) %>
                <%= current_user.name %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% if @network %>
      <div id="map_canvas"></div>
    <% end %>
    <div id="main" class="container">
        <%= yield %>
    </div> <!-- /container -->
  </body>
</html>
