<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "near" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag %>
  </head>
  <body onload="initialize()">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand pull-left" href="<%= root_url %>">near</a>
          <div class="network navbar-text pull-left">
            <% if @network %>
              <%= link_to @network.name, @network %>
            <% end %>
          </div>
          <div class="navbar-text pull-left hide">
            <%= request.ip unless request.ip.nil? %>
            <%= request.location.city unless request.location.nil? %>
            <%= request.location.country unless request.location.nil? %>
          </div>
          <ul class="nav pull-right">
            <% unless user_signed_in? %>
            <li><%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook) %></li>
            <% else %>
            <li class="dropdown" id="userMenu">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#userMenu">
                <%= image_tag("https://graph.facebook.com/"+current_user.uid+"/picture", :size => "20x20", :alt => current_user.name) %>
                <%= current_user.name %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                <li><a href="#">Saved Events</a></li>
              </ul>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% if @network %>
      <div id="map_canvas"></div>
    <% end %>
    <div id="main" class="container">
        <%= yield %>
    </div> <!-- /container -->
    <%= javascript_include_tag "application" %>
    <% if @network %>
      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
      <script type="text/javascript">
        function initialize() {
          var mapOptions = {
            center: new google.maps.LatLng(<%= @network.latitude %>, <%= @network.longitude %>),
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        }
      </script>
    <% end %>
  </body>
</html>
